*{
    padding: 0;
    margin: 0;
    font-family: "Roboto" ,sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(Image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    max-width: 1550px;
}
header{
    width: auto;
    overflow: auto;
    margin-top: 1%;
}
.logo{
    float: left;
}
h2{
    color: white;
    margin-left: 20px;
}
nav{
    float: right;
}
ul{
    width: auto;
    /* overflow: auto; */
}
li{
    display: inline;
    list-style: none;
    padding: 5px 15px;
}
.active{
    border: 1px solid white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav ul li:hover{
    border: 1px solid white;
}
.text{
    margin-top: 18%;
}
.text h1{
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
}
.buttons{
    margin-left: 42%;
    margin-top: 20px;
}
button{
    width: 120px;
    height: 40px;
    border: 1px solid white;
    margin-right:20px; 
}
button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.btn-1{
    background: #0984e3;
    border: 1px solid #0984e3;
    
}
.btn-1 {
    color: white;
}
.btn-2{
    background: #0984e3;
    border: 1px solid #0984e3;
    color: white;
}
.us h2{
    text-align: center;
    margin-top: 250px;
    font-size: 22px;
    /* margin-bottom: 10px; */
}
.us2 h2{
    /* text-align: center; */
    /* margin-top: 4px; */
    font-size: 22px;
} 
.byme a{
}